body{

	background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcBMJBvQpMZ9BxmuVTOOyQb3eQR9hH8R93KYZy0b_nSJgVi2cO);
	
    background-repeat: no-repeat;
    background-size: cover;
    
}
	